@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap&family=Roboto:ital,wght@0,100..900;1,100..900&display=swa");


:root {
  --background: #001328;
}

html, body {
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}